{% extends 'base.html' %}
{% block title %}Sobre o concurso{% endblock %}
{% block content %}
    <style type="text/css">
        nav {
            background-color: #333 !important;
        }

        .cid-r7SBz7A91y {
            padding-top: 7rem !important;
            text-align: justify-all;
        }
    </style>
    <section class="mbr-section article content9 cid-r7SBz7A91y" id="content9-r">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                           href="#list-home" role="tab" aria-controls="home">Sobre</a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                           href="#list-profile" role="tab" aria-controls="profile">Objectivo</a>
                        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                           href="#list-messages" role="tab" aria-controls="messages">Áreas</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                           href="#list-settings" role="tab" aria-controls="settings">Missão</a>
                    </div>
                </div>
                <div class="col-8">
                    <div class="tab-content text-center" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                             aria-labelledby="list-home-list">
                            <hr class="line" style="width: 100%;">
                            <p>O Premio Personalidade de Merito é um
                                concurso unico de ambito provincial a ser realizado na provincial da Lunda-Norte.</p>
                            <hr class="line" style="width: 100%;">
                        </div>
                        <div class="tab-pane fade" id="list-profile" role="tabpanel"
                             aria-labelledby="list-profile-list">
                            <hr class="line" style="width: 100%;">
                            <p>O PPM tem por objectivo premiar a excelencia, o empenho, e a criatividade de jovens que
                                se
                                destacam
                                profissionalmente para o desenvolvimento socioeconomic da provincia</p>
                            <hr class="line" style="width: 100%;">
                        </div>
                        <div class="tab-pane fade" id="list-messages" role="tabpanel"
                             aria-labelledby="list-messages-list">
                            <hr class="line" style="width: 100%;">
                            <div>Empreendedorismo
                            </div>
                            <div>Percurso academico
                            </div>
                            <div>Educação
                            </div>
                            <div>Cultura
                            </div>
                            <div>Música
                            </div>
                            <div>Desporto
                            </div>
                            <div>Comunicação social
                            </div>
                            <div>Politica
                            </div>
                            <hr class="line" style="width: 100%;">
                        </div>
                        <div class="tab-pane fade" id="list-settings" role="tabpanel"
                             aria-labelledby="list-settings-list">
                            <hr class="line" style="width: 100%;">
                            <div>Visa incentivar mais o talento e a excelencia por parte de todos atores e profissionais
                                em
                                todos os
                                sectores da sociedade incluindo entidades da administração pública.
                            </div>


                            <div>A producao executiva dos PPM LN é da responsabilidade da IMPERIO MUAMBUMBA sociedade de
                                direitos
                                angolano sedeada no Dundo, em parceria com um grupo de realizacao de eventos, BM
                                EVENTOS.
                            </div>

                            <div>Pretende-se que o PPM LN seja um evento abrangente para toda a provincia e ganhe alguma
                                notariedade
                                a nivel de todo o pais.
                            </div>

                            <div>Por proposta dos Promotores da iniciativa poderão ser anualmente criados um ou mais
                                prémios
                                especiais que distingam acontecimentos assinaláveis da vida nacional.
                            </div>
                            <hr class="line" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

